@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

.App {
  font-family: 'Hanken Grotesk', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Header h1{
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: hsl(224, 30%, 27%);
}
.Header h1.result{
  text-align: center;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: hsl(241, 100%, 89%);
}

div.circle{
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: rgb(120,87,255);
background: linear-gradient(0deg, rgba(120,87,255,1) 0%, rgba(78,33,202,1) 75%);
  border-radius: 50%;
}
div.circle div p:nth-child(2){
  text-align: center;
  margin-top: -10px;
  margin-bottom: 0;
  color: hsl(241, 100%, 89%);
}
div.circle h1{
  text-align: center;
}
.sumscore{
  display: flex;
  justify-content: center;
}
.resultscore{
  color: white;
  text-align: center;
  width: 100%;
  font-size: 60px;
  margin: 0 0;
  margin-top: 0;
}
.grade{
  text-align: center;
  margin-bottom: 0;
  color: white;
}
.gradedesflex{
  display: flex;
  justify-content: center;
}
.gradedes{
  color: hsl(241, 100%, 89%);
  font-size: 1.1rem;
  width: 80%;
  text-align: center;
}
.maincontainer{
  display: flex;
  width: 600px;
  height: 400px;
  background-color: white;
}
.resultcontainer{
  border-radius: 25px;
  width: 50%;
  height: 100%;
  background: rgb(78,33,202);
  background: linear-gradient(0deg, rgba(78,33,202,1) 0%, rgba(120,87,255,1) 75%);
}

.summarycontainer{
  width: 50%;
  height: 100%;
}

.summarymain{
  width: 80%;
  margin-left: 20px;
}

.continuecontainer
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.continue{
  color: white;
  font-weight: 700;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  border: 0px;
  background: hsl(224, 30%, 27%);
  cursor: pointer;
  transition-duration: 1s;
}

.continue:hover{
  
  background: rgb(78,33,202);
  background: linear-gradient(0deg, rgba(78,33,202,1) 0%, rgba(120,87,255,1) 75%);
}

ul{
  list-style-type: none;
  padding-left: 20px;
  font-weight: 900;
}
li{
  margin-bottom: 30px;
}
.list{
  display: flex;
  width: 100%;
}
.list div{
  width: 100%;
}
.typename{
  display: flex;
}
div svg{
  margin-right: 10px;
}
.list div.score{
  display: flex;
  justify-content: right;
}
li:nth-child(1) {
  color: #F55;
}
li:nth-child(2) {
  color: #FFB21E;
}
li:nth-child(3) {
  color: #00BB8F;
}
li:nth-child(4) {
  color: #1125D6;
}
div span:nth-child(1){
  color: hsl(224, 30%, 27%);
}
div span:nth-child(2){
  color: hsl(241, 100%, 89%);
}
@media only screen and (max-width: 375px) {

  .maincontainer{
    flex-direction: column;
    align-items: center;
  }
  .App {
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  .resultcontainer{
    width: 100%;
  }
  .summarycontainer{
    width: 100%;
  }
}
